# Synapse Configuration
SYNAPSE_CONFIG_PATH=/data/homeserver.yaml
SYNAPSE_SERVER_NAME=CHANGE_TO_YOUR_SERVER_NAME
SYNAPSE_REPORT_STATS=no

# Database Configuration (used by both synapse and db containers)
POSTGRES_DB=synapse
POSTGRES_USER=synapse
POSTGRES_PASSWORD='CHANGE_THIS_TO_A_SECURE_PASSWORD' # fex openssl rand -base64 32
POSTGRES_HOST=db
POSTGRES_INITDB_ARGS="--lc-collate=C --lc-ctype=C --lc-messages=nb_NO.utf8 --lc-monetary=nb_NO.utf8 --lc-numeric=nb_NO.utf8 --lc-time=nb_NO.utf8 --encoding=UTF8" # change this to your preference

# Admin tools script
MATRIX_DOMAIN=${SYNAPSE_SERVER_NAME}
MATRIX_SERVER=https://${SYNAPSE_SERVER_NAME}
MATRIX_ADMIN_USER=admin
